@import '../../../vendor/vars/_vars'

.main
  @include flex-col()
  align-items: center
  width: 100%

.promo-slider
  width: 100%
  display: flex
  align-items: center
  padding: 40px 0 40px 0
  border-bottom: $section-border-bottom

.news
  display: flex
  flex-direction: column
  padding-top: 150px
  width: 100%
  align-items: flex-start

  &__title
    @include h1Param()
    margin: 0
    margin-bottom: 40px
    text-transform: uppercase

  &__card-container
    width: 100%
    display: grid
    align-items: center
    justify-content: center
    justify-items: center
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr))
    column-gap: 20px
    row-gap: 42px

.faq
  display: flex
  padding-top: 200px
  align-items: flex-start
  justify-content: space-between
  width: 100%
  margin-bottom: 76px
  &__title
    @include h1Param()
    margin: 0
    text-transform: uppercase

.subscription
  display: flex
  align-items: center
  padding: 80px 40px
  justify-content: center
  width: 100%
  background-color: $color-white
  &__text-container
    max-width: 280px
    width: 100%
  &__title
    @include h1Param()
    margin: 0
    margin-bottom: 20px
    color: $color-black

    &__subtitle
      color: $color-black

.container_subscription
  align-items: flex-start

@media screen and ( max-width:1360px )
  .faq__title, .news__title
    margin-left: 1vw

@media screen and ( max-width: 768px )
  .news__title
    @include h2Param()
    margin-bottom: 30px
    margin-left: 10px

  .news__card-container
    display: flex

  .subscription
    padding: 40px 10px 40px 10px
    &__title
      @include h2Param()
      margin-bottom: 30px
      &__subtitle
        display: none

  .container_subscription
    flex-direction: column
    min-width: none
    padding: 0 10px 0 10px

  .promo-slider
    padding: 20px 0 20px 0

  .news
    padding-top: 80px

  .faq
    padding: 80px 10px 0 10px
    flex-direction: column
    &__title
      margin-left: 0
