@import '../../../vendor/vars/_vars'
@import '../../../vendor/vars/_mixins'

.main 
    @include flex-col
    align-items: center
    width: 100%

.promo-slider
    width: 100%
    display: flex

    align-items: center
    padding: 40px 0 40px 0