@import '../../vendor/vars/_vars'

.popup
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  inset: 0
  background-color: $color-overlay
  z-index: 2
  visibility: hidden
  opacity: 0
  transition: visibility 0s, opacity .2s linear

  &_opened
    visibility: visible
    opacity: 1
    z-index: 999

  &__container
    box-sizing: border-box
    position: relative
    padding: 40px
    border-radius: 20px
    background-color: $color-white

  &__title
    @include h3Param() //font-size 20
    text-transform: uppercase
    margin: 0
    margin-bottom: 40px
    color: $color-black

  &__btn-save
    @include h4Param() //font-size 16
    font-weight: 500
    padding: 12px 20px
    overflow: hidden
    color: $color-black
    background-color: transparent
    background: linear-gradient(white, white) padding-box, $color-gradient border-box
    border-radius: 40px
    border: 1px solid transparent
    transition: opacity 0.2s linear

    &:hover
      opacity: 0.8
      cursor: pointer

      &_disabled
        background-color: $color-white
        border: 1px solid rgba(0, 0, 0, 0.2)
        color: rgba(0, 0, 0, 0.2)

        &:hover
          opacity: 1
          cursor: pointer

//.popup__btn-close
.popup__btn-close
  position: absolute
  padding: 5px
  top: 35px
  right: 40px
  width: 30px
  height: 30px
  outline: none
  border: none
  background-color: transparent
  transition: opacity 0.2s linear
  &-img
    width: 20px
    height: 20px

  &:hover
    opacity: 0.6
    cursor: pointer

@media screen and ( max-width: 768px )
  .popup__container
    height: 100vh
    width: 100%
    border-radius: 0
