
@import '../../../vendor/vars/_vars'
.accordion
  display: block
  margin: 0px
  position: relative
  border-bottom: $section-border-bottom

  &__container
    width: 900px

  &__header
    display: flex
    justify-content: space-between
    align-items: center
    background-color: transparent
    border-bottom-width: 0px
    cursor: pointer
    transition: background 0.2s
    padding: 35px 0 35px 0
    position: relative
    z-index: 2
    &-text
      @include h2Param()
      margin: 0
      color: $color-white
      max-width: 700px

    &-img
      margin-right: 10px
      margin-left: 20px
      width: 17px
      height: 17px

    &:hover
      cursor: pointer

  &__content
    display: none
    max-width: 580px
    width: 100%
    padding-bottom: 30px
    &-text
      margin: 0

.accordion input
  display: none
  position: absolute
  visibility: hidden
  left: 50%
  top: 50%
  z-index: 1

// видимыми становятся только те пункты, которые после выбранного инпута
.accordion input:checked ~ .accordion__content
  display: block

  //выбранный пунт > следующий сразу за ним заголовок > дочернее изображение
.accordion input:checked + .accordion__header .accordion__header-img
  transform: rotate(90deg)
  transition: all .3s

@media screen and ( max-width: 960px )
  .accordeon__container
    width: 90vw

@media screen and ( max-width:  768px)
  .accordion__header
    padding: 20px 0 20px 0
  .accordion__content
    padding-bottom: 20px
    &-text
      @include h4Param()

@media screen and ( max-width: 475px )
  .accordeon__container
    width: 100%
