@import '../../vendor/vars/_vars'

.burger-menu
  display: none

@media (max-width: 768px)
  .burger-menu
    @include flex-col()
    justify-content: space-between
    align-items: flex-start
    left: 0
    z-index: 1
    width: 100%
    position: absolute
    top: 87px
    min-height: 100vh
    padding: 30px 10px 10px 10px
    background-color: $color-black
