@import '../../vendor/vars/_vars'
@import '../../vendor/vars/_mixins'

.footer
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  padding: 40px 0 40px 0
  flex: 0 1 auto
  background: $color-gradient

  //logo блок
  &__logo
    &-container
      max-width: 103px
      width: 100%

    &-link
      display: flex
      align-items: center
      justify-content: center

      &:hover
        cursor: pointer

      &_social
        width: 24px
        height: 24px
        & > img
          width: 100%

      &_main
        margin-bottom: 20px
        width: 100%

    &-img-main
      width: 100%
      height: 122px

  &__social-logo-container
    display: flex
    justify-content: space-between
    width: 100%

  ul
    flex-direction: column
    list-style: none
    padding: 0
    display: flex
    row-gap: 15px

    li
      width: fit-content

      a
        @include h4Param()
        color: #fff
        text-decoration: none

  &__nav-list
    margin: 0
    column-gap: 159px
    height: 93px
    flex-wrap: wrap

  &__contact-item:first-child
    margin-bottom: 5px

@media screen and ( max-width:1360px )
  .footer
    padding-left: 1vw
    padding-right: 1vw
@media screen and ( max-width: 768px )
  .footer
    //logo блок
    &__logo
      &-img-main
        height: 100%

      &-container
        display: flex
        justify-content: space-between
        max-width: none

      &-link
        height: 82.63px

        &_social
          height: 24px

        &_main
          width: 69.45px
        // <---logo блок--->

    &__social-logo-container
      max-width: 104px

    &__container
      padding: 0 10px 0 10px
      flex-direction: column
      align-items: flex-start
    &__nav
      margin-bottom: 40px
    &__nav-list
      column-gap: 50%
    &__contact-list
      margin: 0
      row-gap: 0
    &__contact-location
      margin-bottom: 20px
    &__contact-phone
      margin-bottom: 10px
