@import '../../vendor/vars/_vars'

.slider
  width: 100%
  // height: 540px
  position: relative
  &__button-website
    @include h5Param() //font-size 12
    position: absolute
    top: 0
    left: 0
    opacity: 0.5
    text-transform: uppercase
    color: $color-white
    padding: 6px 15px
    border-radius: 40px
    border: 1px solid $color-white
    background-color: transparent
    z-index: 5
    &:hover
      opacity: 0.8
      cursor: pointer
  &__content
    height: 540px
    width: 1360px
    display: flex
    overflow: hidden
  &__window
    height: 100%
    width: 100%
    overflow: hidden
  &__slides
    height: 100%
    display: flex
    align-items: center
    transition: translate
    transition-property: transform
    transition-duration: 300ms
    transition-timing-function: ease-in-out
  &__control-buttons
    position: absolute
    bottom: 0
    left: 0
  &__control-buttons
    display: flex
    gap: 30px
  &__button
    padding: 10px
    background-color: transparent
    border: none
    &-image
      width: 22.3px
      height: 22.3px

.slide
  box-sizing: border-box
  display: flex
  justify-content: space-between
  height: 540px
  width: 100%

  &__text-container
    padding-top: 65px
    display: flex
    flex-direction: column
    width: 690px

  &__image
    display: block
    height: 100%
    object-fit: cover
    max-width: 44vw

  &__title
    @include h1Param() //font-size 40
    max-width: 670px
    display: table
    margin: 0
    margin-bottom: 20px

  &__description
    @include h4Param() //font-size 16
    max-width: 440px
    display: table
    margin: 0
    opacity: 0.5

@media screen and ( max-width: 1440px )
  .slide__text-container
    width: 730px

@media screen and ( max-width: 768px )
  .slide
    flex-direction: column-reverse
    position: static

    &__date
      margin: 0
      margin-bottom: 30px

    &__description
      width: 300px
      margin-bottom: 20px

    &__image
      max-width: 100%
      margin-bottom: 20px
    &__text-container
      width: 768px
      padding: 0 10px 0 10px

    &__title
      @include h2Param() //font-size 24
      width: 768px

  .slider
    &__button-website
      display: none

    &__control-buttons
      position: static
      margin-bottom: 20px

@media screen and ( max-width: 425px )
  .slide__text-container
    width: 425px
  .slide__title
    width: 425px

@media screen and ( max-width: 375px )
  .slide__text-container
    width: 375px
  .slide__title
    width: 375px
